.purple {
	background-color: purple;
}

.turq {
	background-color: #16FF77;
}

.plum {
	background-color: #913D88;
}

.royal_blue {
	background-color: #4183D7;
}

.cool_green {
	background-color: #26A65B;
}

.free_green {
	background-color: #03A678;
}
.jade {
	background-color: #00B16A;
}

.gossip {
	background-color: #87D37C;
}
.salem {
	background-color: #1E824C;
}
.fire_bush {
	background-color: #EB9532;
}
.mid_orange {
	background-color: #F9690E;
}
.light_orange {
	background-color: #F4B350;
}
.dark_pink {
	background-color: #DB0A5B;
}
.turq {
	background-color: #03C9A9;
}
.aqua {
	background-color: #1BA39C;
}
.butter {
	background-color: #F39C12;
}

.monza {
	background-color: #CF000F;
}

.trans_union_blue {
	background-color: #0295BE;
}

.studio_purple {
	background-color: #8E44AD;
}

.medium_purple {
	background-color: #BF55EC;
}
.cinnabar {
	background-color: #E74C3C;
}

.chestnut_rose {
	background-color: #D24D57;
}
.tall_poppy {
	background-color: #C0392B;
}
.sm_blue {
	background-color: #446CB3;
}

.pict_blue {
	background-color: #22A7F0;
}

td {
	color: white;
	text-align: center;
	border-radius: 15px;
}

@media (max-width: 767px) {
	td {
	   	height: 100px;
		width: 100px;
		font-size: 1.35em;
	}
}

@media (min-width: 768px) {
	td {
	   	height: 150px;
		width: 150px;
		font-size: 2.05em;
	}
}

@media (min-width: 992px) {
   td {
	   	height: 175px;
		width: 175px;
		font-size: 2.4em;
	} 
}

@media (min-width: 1200px) {
   	td {
	   	height: 200px;
	   	width: 200px;
		font-size: 2.75em;
	}
}

