.purple {
	background-color: purple;
}

.turq {
	background-color: #16FF77;
}

.plum {
	background-color: #913D88;
}

.royal_blue {
	background-color: #4183D7;
}

.cool_green {
	background-color: #26A65B;
}

.free_green {
	background-color: #03A678;
}
.jade {
	background-color: #00B16A;
}

.gossip {
	background-color: #87D37C;
}
.salem {
	background-color: #1E824C;
}
.fire_bush {
	background-color: #EB9532;
}
.mid_orange {
	background-color: #F9690E;
}
.light_orange {
	background-color: #F4B350;
}
.dark_pink {
	background-color: #DB0A5B;
}
.turq {
	background-color: #03C9A9;
}
.aqua {
	background-color: #1BA39C;
}
.butter {
	background-color: #F39C12;
}

.monza {
	background-color: #CF000F;
}

.trans_union_blue {
	background-color: #0295BE;
}

.studio_purple {
	background-color: #8E44AD;
}

.medium_purple {
	background-color: #BF55EC;
}
.cinnabar {
	background-color: #E74C3C;
}

.chestnut_rose {
	background-color: #D24D57;
}
.tall_poppy {
	background-color: #C0392B;
}
.sm_blue {
	background-color: #446CB3;
}

.pict_blue {
	background-color: #22A7F0;
}

.tile {
	color: white;
	text-align: center;
	border-radius: 15px;
	border-color: white;
}

.side_tile {
	background-color: lightgrey;
	color: white;
	text-align: center;
	border-radius: 15px;
	border-color: white;
	height: 94px;
	width: 94px;
}

.center_vertical {
   top: 50%;
   left: 50%;
   transform: translate3d(-50%,-50%, 0);
   position: absolute;
}

.small_img {
	max-width: 95px;
	max-height: 95px;
	float: left;
	margin-right: 20px;
}

.big_txt {
	font-size: 1.5em;
}

.tracker {
	font-size: 3em;
	color: #1E824C;
	text-align: center;
	margin-top: 25%;
}

table {
	border-spacing: 10px;
	border-collapse: separate;
}

@media (max-width: 767px) {
	.tile {
	   	height: 100px;
		width: 100px;
		min-width: 100px;
		min-height: 100px;
		font-size: 1.35em;
	}

	table {
		border-spacing: 3px;
		border-collapse: separate;
	}

	.small_img {
		max-width: 75px;
		max-height: 75px;
	}

	.big_txt {
		font-size: 1em;
	}

	.side_tile {
		height: 50px;
		width: 50px;
	}
}

@media (min-width: 768px) {
	.tile {
	   	height: 150px;
		width: 150px;
		font-size: 2.05em;
	}

	table {
		border-spacing: 6px;
		border-collapse: separate;
	}

	.side_tile {
		height: 70px;
		width: 70px;
	}
}

@media (min-width: 992px) {
   .tile {
	   	height: 150px;
		width: 150px;
		font-size: 2.05em;
	}

	.side_tile {
		height: 80px;
		width: 80px;
	} 
}

@media (min-width: 1200px) {
   	.tile {
	   	height: 175px;
	   	width: 175px;
		font-size: 2.4em;
	}

	.side_tile {
		height: 94px;
		width: 94px;
	}
}

