td {
	height: 200px;
	width: 200px;
	text-align: center;
	font-size: 3em;
	color: white;
}



.tile:hover {
    -webkit-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
}

.green {
	background-color: green;
}

.red {
	background-color: red;
}

.blue {
	background-color: blue;
}

.purple {
	background-color: purple;
}
.45A163 {
	background-color: #45A163;	
}

.turq {
	background-color: #16FF77;
}

.26CC5C {
	background-color: #26CC5C;
}

.light_blue {
	background-color:#4A99A1;
}

.orange {
	background-color: orange;
}

.yellow {
	background-color: yellow;
}

.plum {
	background-color: #913D88;
}

.royal_blue {
	background-color: #4183D7;
}

.cool_green {
	background-color: #26A65B;
}

.free_green {
	background-color: #03A678;
}
.jade {
	background-color: #00B16A;
}

.gossip {
	background-color: #87D37C;
}
.salem {
	background-color: #1E824C;
}
.fire_bush {
	background-color: #EB9532;
}
.mid_orange {
	background-color: #F9690E;
}
.light_orange {
	background-color: #F4B350;
}
.dark_pink {
	background-color: #DB0A5B;
}
.turq {
	background-color: #03C9A9;
}
.aqua {
	background-color: #1BA39C;
}
.butter {
	background-color: #F39C12;
}
.monza {
	background-color: #CF000F;
}
.trans_union_blue {
	background-color: #0295BE;
}

.pink {
	background-color: pink;
}

.studio_purple {
	background-color: #8E44AD;
}

.medium_purple {
	background-color: #BF55EC;
}
.cinnabar {
	background-color: #E74C3C;
}

.chestnut_rose {
	background-color: #D24D57;
}
.tall_poppy {
	background-color: #C0392B;
}
.sm_blue {
	background-color: #446CB3;
}

.pict_blue {
	background-color: #22A7F0;
}

.lime {
	background-color: limegreen;
}

.grey {
	background-color: grey;
}

